--extra-index-url https://download.pytorch.org/whl/cu118

fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
alembic
python-dotenv
opencv-python
numpy
pillow
ultralytics
torch
torchvision
requests
basicsr
realesrgan
jinja2